/*- - - - - - - - -样式属index.html - - - - - - - -*/
	/*广告*/
	#banner{background:#333;}
	#banner .bx-wrapper{margin-bottom:0px;}
	#banner .bx-wrapper .bx-pager{position:absolute;bottom:0px;padding-bottom:3.72%;}
	#banner .bx-wrapper .bx-pager.bx-default-pager a{background-color:#ffffff;}
	#banner .bx-wrapper .bx-pager.bx-default-pager a:hover,#banner .bx-wrapper .bx-pager.bx-default-pager a.active{background:#ff694e;}
	/*导航*/
	#nav{margin-bottom:2.79%;padding-top:3.59%;padding-bottom:2.79%;background:#fff;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
	#nav ul{float:left;width:100%;}
	#nav ul li{float:left;width:25%;line-height:2.95;text-align:center;font-size:2.10em;}
	#nav ul li a{display:block;}
	#nav ul li a span{width:39.37%;margin:0 auto;padding-top:40.50%;background:url(../naviconlist.jpg) no-repeat left top;background-size:800%;display:block;}
	#nav ul li:nth-child(1) span{background-position:left top;}
	#nav ul li:nth-child(2) span{background-position:14.28% top;}
	#nav ul li:nth-child(3) span{background-position:28.57% top;}
	#nav ul li:nth-child(4) span{background-position:42.85% top;}
	#nav ul li:nth-child(5) span{background-position:57.14% top;}
	#nav ul li:nth-child(6) span{background-position:71.42% top;}
	#nav ul li:nth-child(7) span{background-position:85.70% top;}
	#nav ul li:nth-child(8) span{background-position:99.98% top;}
	/*公告*/
	#GongGao{overflow:hidden;padding-top:3.06%;padding-bottom:3.06%;background:#fff;}
	#GongGao strong{float:left;width:8.65%;line-height:1.83;text-align:center;font-size:1.80em;font-weight:normal;color:#ff6849;margin-right:3.72%;margin-left:3.99%;border:1px solid #cccccc;border-radius:0.2em;display:inline-block;}
	#GongGao .gonggaolist{width:100%;}
	#GongGao .gonggaolist li{width:100%;line-height:1.61;overflow:hidden;font-size:2.20em;text-overflow:ellipsis;white-space:nowrap;}
	#GongGao .gonggaolist li a{color:#b8b8b8;}
	#scrollDiv{float:left;width:70.89%;height:3.31em;overflow:hidden;}
	/*广告*/
	#AD{background-color:#fe413f;}
	#AD a img{width:100%;max-width:100%;}
	/*新闻中心*/
	#news{padding-bottom:6.12%;background-color:#ffffff;}
	#news .bx-wrapper{margin-bottom:0px;}
	#news .bx-wrapper .bx-pager{position:absolute;bottom:-19%;padding-bottom:3.72%;}
	#news .bx-wrapper .bx-pager.bx-default-pager a{background-color:#e0e0e0;}
	#news .bx-wrapper .bx-pager.bx-default-pager a:hover,#news .bx-wrapper .bx-pager.bx-default-pager a.active{background:#ff694e;}
	/*老师*/
	#Teacher{background-color:#f6f6f6;}
	#Teacher .Teacher{width:96%;}
	#Teacher .Teacher strong{display:block;text-align:center;font-size:2.00em;line-height:2.50;color:#a5a5a5;font-weight:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	#Teacher .Teacher .pic{width:100%;display:block;padding-top:143.23%;position:relative;}
	#Teacher .Teacher .pic img{position:absolute;left:0px;top:0px;width:100%;height:100%;display:block;}
	#Teacher .swiper-container{}
	#Teacher .swiper-container  .swiper-slide{}
	/*版权*/
	#copyright{line-height:1.85;text-align:center;font-size:1.30em;color:#a0a0a0;padding-top:2.00%;padding-bottom:2.00%;background:url(../line.gif) no-repeat center top;background-color:#f6f6f6;}
	/*菜单*/
	#menu{width:100%;position:fixed;max-width:750px;bottom:0px;left:50%;margin-left:-50%;padding-top:2.13%;padding-bottom:0.80%;background:rgba(255,255,255,0.9);border-top:1px solid #cecece;z-index:15000;}
	#menu ul{float:left;width:100%;}
	#menu ul li{float:left;width:25%;text-align:center;}
	#menu ul li span{width:21.28%;margin:0 auto;padding-top:21.28%;background:url(../menu_iconlist.png) no-repeat left top;background-size:400%;display:block;}
	#menu ul li span.icon1{background-position:left top;}
	#menu ul li span.icon2{background-position:33.33% top;}
	#menu ul li span.icon3{background-position:65.66% top;}
	#menu ul li span.icon4{background-position:100% top;}
	#menu ul li a{line-height:1.94;font-size:1.80em;color:#999999;display:block;}
	#menu ul li.change a{color:#d80c5f;}
	#menu ul li.change span.icon1{background-position:left 100%;}
	#menu ul li.change span.icon2{background-position:33.33% 100%;}
	#menu ul li.change span.icon3{background-position:65.66% 100%;}
	#menu ul li.change span.icon4{background-position:100% 100%;}
	.menu_space{padding-top:14.10%;display:block;}
	/*副标题*/
	.SubTitle{line-height:3.07;position:relative;font-size:3.00em;font-weight:normal;padding-right:4.39%;padding-left:4.39%;border-bottom:1px solid #f3f3f3;}
	.SubTitle a{position:absolute;font-size:0.73em;color:#a5a5a5;right:3.72%;margin-top:1.53%;padding-right:3.19%;background:url(../0.gif) no-repeat right center;background-size:contain;}
	/*图片列表*/
	.PicList{float:left;width:100%;}
	.PicList li{float:left;width:24.13%;text-align:center;margin-right:0.85em;}
	.PicList li:last-child{margin-right:0px;}
	.PicList li .pic{width:100%;position:relative;padding-top:144.07%;display:block;}
	.PicList li .pic img{width:100%;height:100%;position:absolute;top:0;left:0;display:block;}
	.PicList li  strong{line-height:2.55;overflow:hidden;font-size:2.00em;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;display:block;}
	/*焦点新闻*/
	.FocusNews{width:92.4%;position:relative;overflow:hidden;margin:0 auto;padding-top:4.18%;padding-bottom:4.18%;}
	.FocusNews>a{display:block;}
	.FocusNews .photo{float:left;width:28.80%;position:relative;margin-right:2.45%;padding-top:21.31%;display:block;}
	.FocusNews .photo img{width:100%;height:100%;position:absolute;top:0px;left:0px;display:block;}
	.FocusNews h5{height:2.82em;line-height:1.41;overflow:hidden;font-size:2.90em;font-weight:normal;}
	.FocusNews p{line-height:2.11;font-size:1.90em;color:#989898;}
	.FocusNews span{line-height:1.88;font-size:1.70em;color:#989898;}

/*- - - - - - - - -样式属图文列表.html - - - - - - - -*/
	/*顶部*/
	#top{width:100%;position:fixed;max-width:750px;background:#fff;z-index:15000;border-bottom: 1px solid #d70c5e;}
	#top h3{line-height:2.87;text-align:center;font-size:3.10em;font-weight:normal;color:#d80a5d;background-color:#ffffff;}
	#top .top_btn{position:absolute;padding-top:11.5%;padding-left:12.50%;background:url(../top_iconlist.png) no-repeat left top;background-size:400%;}
	#top .btn_menu{top:0px;left:0px;background-position:66.66% top;}
	#top .btn_home{top:0px;right:0px;background-position:100% top;}
	#top .btn_write{top:0px;left:0px;background-position:33.33% top;}
	#top .btn_back{top:0;left:0px;background-position:left top;}
	#topSpaces{padding-top:11.84%;display:block;}
	/*广告2*/
	#banner2{position:relative;padding-top:22.21%;background:#333;display:block;}
	#banner2 img{width:100%;height:100%;position:absolute;max-width:100%;top:0;left:0;display:block;}
	#banner2 p{line-height:1.79;position:absolute;font-size:2.40em;color:#fff;top:38.38%;left:4.39%;}
	#banner2 p a{color:#fff;}
	/*新闻列表*/
	#NewsList{background:#fff;}
	/*文档*/
	.docs{width:92.00%;overflow:hidden;margin:0 auto;padding-top:3.48%;padding-bottom:3.48%;border-bottom:1px solid #ececec;}
	.docs>a{display:block;}
	.docs .photo{float:left;width:35.00%;position:relative;margin-right:3.48%;padding-top:21.17%;}
	.docs .photo img{width:100%;height:100%;position:absolute;top:0;left:0;display:block;}
	.docs h5{line-height:1.52;overflow:hidden;font-size:2.70em;font-weight:normal;margin-bottom:1.02%;text-overflow:ellipsis;white-space:nowrap;}
	.docs h5 a{color:#666666;}
	.docs time{font-size:1.80em;color:#a1a1a1;margin-right:2.61%;padding-left:4.06%;background:url(../icon_time.gif) no-repeat left center;background-size:contain;}
	.docs em{font-size:1.80em;color:#a1a1a1;padding-left:4.06%;background:url(../icon_user.gif) no-repeat left center;background-size:contain;}
	.docs p{height:3.52;line-height:1.76;overflow:hidden;font-size:1.88em;color:#999999;margin-top:1.02%;}
	/*老师*/
	.teacher_{width:92.00%;overflow:hidden;margin:0 auto;padding-top:3.48%;padding-bottom:3.48%;border-bottom:1px solid #ececec;}
	.teacher_>a{display:block;}
	.teacher_ .photo{float:left;width:35.00%;position:relative;margin-right:3.48%;padding-top:46.17%;}
	.teacher_ .photo img{width:100%;height:100%;position:absolute;top:0;left:0;display:block;}
	.teacher_ h5{line-height:1.52;overflow:hidden;font-size:2.70em;font-weight:normal;margin-bottom:1.02%;text-overflow:ellipsis;white-space:nowrap;}
	.teacher_ h5 a{color:#666666;}
	.teacher_ time{font-size:1.80em;color:#a1a1a1;margin-right:2.61%;padding-left:4.06%;background:url(../images/icon_time.gif) no-repeat left center;background-size:contain;}
	.teacher_ em{font-size:1.80em;color:#a1a1a1;padding-left:4.06%;background:url(../images/icon_user.gif) no-repeat left center;background-size:contain;}
	.teacher_ p{height:3.52;line-height:1.76;overflow:hidden;font-size:1.88em;color:#999999;margin-top:1.02%;}
	/*新闻速递*/
	#NewsFast{background:#fff;}
	.news_docs{width:92.00%;overflow:hidden;margin:0 auto;padding-top:3.48%;padding-bottom:3.48%;border-bottom:1px solid #ececec;}
	.news_docs>a{display:block;}
	.news_docs .photo{float:left;width:35.00%;position:relative;margin-right:3.48%;padding-top:21.17%;}
	.news_docs .photo img{width:100%;height:100%;position:absolute;top:0;left:0;display:block;}
	.news_docs h5{line-height:1.52;overflow:hidden;font-size:2.70em;font-weight:normal;margin-bottom:1.02%;text-overflow:ellipsis;white-space:nowrap;}
	.news_docs h5 a{color:#666666;}
	.news_docs time{font-size:1.80em;color:#a1a1a1;margin-right:2.61%;padding-left:4.06%;background:url(../icon_time.gif) no-repeat left center;background-size:contain;}
	.news_docs em{font-size:1.80em;color:#a1a1a1;padding-left:4.06%;background:url(../icon_user.gif) no-repeat left center;background-size:contain;}
	.news_docs p{height:3.52;line-height:1.76;overflow:hidden;font-size:1.88em;color:#999999;margin-top:1.02%;}
/*- - - - - - - - -样式属留言.html - - - - - - - -*/
	/*留言*/
	#LeaveMessage{padding-top:3.59%;padding-right:3.59%;padding-bottom:2.93%;padding-left:3.59%;background-color:#ffffff;}
	#LeaveMessage .form .option{overflow:hidden;margin-bottom:3.86%;padding-top:1.73%;padding-bottom:1.73%;padding-left:1.60%;border:1px solid #d6d6d6;border-radius:0.6em;}
	#LeaveMessage .form .option span{float:left;margin-right:2.79%;padding-top:5.2%;padding-left:5.2%;background:url(../ly_iconlist.gif) no-repeat left top;background-size:500%;}
	#LeaveMessage .form .option span.icon_user{background-position:left top;}
	#LeaveMessage .form .option span.icon_mail{background-position:25% top;}
	#LeaveMessage .form .option span.icon_tel{background-position:50% top;}
	#LeaveMessage .form .option span.icon_yzm{background-position:74.4% top;}
	#LeaveMessage .form .option span.icon_write{background-position:99.9% top;}
	#LeaveMessage .form .option .text{float:left;width:70%;font-size:3.00em;border:0;}
	#LeaveMessage .form .option .pic_yzms{width:20%;position:relative;margin-top:-0.93%;margin-bottom:-0.93%;}
	#LeaveMessage .form .option textarea{width:89.53%;overflow:auto;font-size:3.00em;border:0;}
	#LeaveMessage .form .btn_send{width:100%;line-height:3.04;font-size:2.80em;font-family:'microsoft yahei';color:#fff;background-color:#06c1ae;border:1px solid #d6d6d6;border-radius:0.2em;display:block;}
/*- - - - - - - - -样式属文字列表.html - - - - - - - -*/
	#Doclist{padding-right:3.86%;padding-left:3.86%;background-color:#ffffff;}
	/*新闻列表*/
	.NewsList{margin-right:4.26%;margin-left:4.26%;}
	.NewsList li{border-bottom:1px solid #dcdcdc;}
	.NewsList li a{line-height:3.85;font-size:2.70em;color:#666666;padding-right:7.58%;background:url(../arrow.jpg) no-repeat right center;background-size:contain;display:block;}
/*- - - - - - - - -样式属留言列表.html - - - - - - - -*/
	/*问题*/
	.problem{position:relative;padding-right:4.26%;padding-bottom:2.26%;padding-left:4.26%;background-color:#ffffff;border-bottom:1px solid #eaeaea;}
	.problem h5{line-height:2.54;font-size:2.60em;font-weight:normal;color:#08c1af;}
	.problem p{line-height:1.71;font-size:2.10em;color:#656565;}
	.problem time{line-height:2.71;position:absolute;font-size:2.40em;color:#bdbdbd;top:0px;right:4.12%;}
	/*回复*/
	.huifu{padding-top:1.73%;padding-right:4.26%;padding-left:4.26%;background-color:#fafafa;border-bottom:1px solid #eaeaea;}
	.huifu span{line-height:1.15;font-size:2.60em;color:#ff6666;margin-bottom:1.60%;padding-left:1.73%;border-left:0.23em solid #fe9f21;}
	.huifu p{line-height:1.64;font-size:2.20em;color:#656565;padding-top:1.60%;padding-bottom:2.00%;}
/*- - - - - - - - -样式属留言成功.html - - - - - - - -*/
	/*成功*/
	#Success{width:91.37%;margin:0 auto;margin-top:4.66%;margin-bottom:4.66%;padding-top:6.78%;padding-bottom:9.05%;background-color:#ffffff;border:1px solid #d6d6d6;border-radius:0.6em;}
	#Success h4{line-height:1.55;text-align:center;font-size:3.30em;font-weight:normal;color:#666666;margin-bottom:3.07%;}
	#Success h4 span{margin-right:3.21%;padding-top:7.15%;padding-left:7.15%;vertical-align:middle;background:url(../icon_ok.jpg) no-repeat center center;background-size:100%;display:inline-block;}
	#Success p{width:65.85%;line-height:1.59;font-size:2.20em;color:#676767;margin:0 auto;}
/*- - - - - - - - -样式属文章页面.html - - - - - - - -*/
	/*文档内容*/
	#DocContent{padding-top:2.39%;padding-right:4.39%;padding-bottom:5.72%;padding-left:4.39%;background-color:#ffffff;/*border-top:1px solid #d70c5e;*/}
	#DocContent .doc_title{line-height:1.53;font-size:4.00em;font-weight:normal;}
	#DocContent .doc_value{line-height:2.19;font-size:2.70em;}
	#DocContent .doc_value time{color:#999999;margin-right:2.13%;}
	#DocContent .doc_value a{color:#5475a2;}
	#DocContent .content{overflow:hidden;padding-bottom:4.26%;}
	#DocContent .content img{width:100%;max-width:100%;}
	#DocContent .content p{line-height:1.93;text-indent:2em;font-size:2.70em;color:#666666;margin-bottom:1.60%;}
	#DocContent .read_sl{font-size:2.80em;color:#666666;text-decoration:none;}
	.main_content{position:relative;overflow:hidden;background-color:#ffffff;}
	#navmenu{background-color:#d80d5f;position:fixed;left:0px;top:0px;width:41.00%;padding-left:4%;z-index:15005;height:100%;max-width:338px;display:none;}
	#navmenu h4{padding-top:9.53%;padding-bottom:9.53%;color:#fff;border-bottom:1px solid #eb86b0;font-weight:normal;font-size:3.00em;line-height:1.53;}
	#navmenu h4 span{padding-left:12.35%;background:url(../icon_page.png) no-repeat left center;padding-top:14.63%;margin-right:6.92%;background-size:contain;display:inline-block;vertical-align:middle;}
	#navmenu ul{width:100%;}
	#navmenu ul li{width:100%;}
	#navmenu ul li.change{}
	#navmenu ul li.change>a{margin-left:-10.1%;background:url(../images/icon_arrow2.png) no-repeat 90% center;background-size:contain;background-color:#970742!important;}
	#navmenu ul li.change>a>span{margin-left:9.3%;padding-top:30.18%;}
	#navmenu ul li>a{font-size:3.00em;line-height:3.30;color:#fff;display:block;border-bottom:1px solid #eb86b0;padding-left:1.60%;overflow:hidden;}
	#navmenu ul li>a span{float:left;background:url(../icon_yuandian.png) no-repeat left center;background-size:contain;padding-left:4.88%;margin-right:13.17%;padding-top:32.18%;}
	#navmenu ul li>a.btn_submenu{background:url(../icon_arrow2.png) no-repeat 90% center;background-size:contain;}
	#navmenu ul li ol{position:absolute;top:0px;left:100%;background-color:#970742;width:95.00%;z-index:1500;bottom:0px;display:none;}
	#navmenu ul li ol li{}
	#navmenu ul li ol li:first-child{margin-top:35.40%;}
	#navmenu ul li ol li a{border:0;text-align:center;}
	#navmenu ul li ol li a:hover{background-color:#c80957;}
	#navmenu_zz{position:fixed;left:0px;top:0px;z-index:15001;background:rgba(0,0,0,0.5);width:100%;height:100%;display:none;}
	
	#boke_pw{width:92.00%;position:fixed;top:0px;left:50%;margin-left:-46%;z-index:15510;background-color:#ecf0f3;max-width:688px;padding-top:9.14%;padding-bottom:9.57%;top:50%;border-radius:0.70em;margin-top:-25%;}
	#boke_pw .form{}
	#boke_pw .form .password{width:83%;background-color:#e5e6ea;font-size:4.50em;padding-top:3.92%;padding-bottom:3.92%;border-radius:0.18em;display:block;margin:0 auto;margin-bottom:6.24%;padding-left:3.19%;padding-right:3.19%;color:#636365;border-left:1px solid #c5c9cc;border-top:1px solid #c5c9cc;border-right:1px solid #c5c9cc;border-bottom:1px solid #ffffff;}
	#boke_pw .form .btn_send{display:block;width:83.00%;margin:0 auto;font-size:4.50em;line-height:2.42;background-color:#06c1ae;color:#fff;border:0;border-radius:0.16em;font-family:'Microsoft YaHei';letter-spacing:0.31em;}
	#boke_pw .form .btn_send:hover{background-color:#05a898;}
	#boke_pw_zz{position:fixed;z-index:15500;left:0px;top:0px;right:0px;bottom:0px;background:rgba(0,0,0,0.8);}


