/* - - - - - - - - - 各浏览器样式默认值标准化  - - - - - - - - -*/
html,body,span,object,iframe,h1,h2,h3,h4,h5,p,blockquote,pre,
a,address,code,
del,em,img,dl,dt,dd,ol,ul,li,
fieldset,form,label{
margin:0;padding:0;border:0;
font-style:inherit;font-family:inherit;vertical-align:baseline;}
img{border:none;vertical-align:middle;}
input,select,button{vertical-align:middle;}
input{padding:0;}
button{cursor:pointer;}
html{-webkit-text-size-adjust:none;}
body{min-width:320px;max-width:750px;margin:0 auto;font-size:62.5%;font-family:Arial,'Microsoft YaHei', Helvetica, sans-serif;background-color:#e2e2e2;}
body.huibg{background-color:#7b7b7b;}
ul,ol{list-style-type:none;}
h1{font-size:2.4em;}
h2{font-size:1.8em;}
h3,h4{font-size:1.4em;}
h5{font-size:1.2em;}
em,address{font-style:normal;}
a{ text-decoration:none;color:#4f4f4f;}

/*链接样式*/
a:link{}	
a:hover{color:#fdcf22;}
a:active{transition:color 200ms linear 0s,background-color 200ms linear 0s,border-color 200ms linear 0s;color:#f00000;}
a:visited{}/* 访问过 */
/*- - - - - - - - - 常用类样式  - - - - - - - - -*/
.no_bor{ border:none!important;}	/*无边框*/
.no_bg{ background:none!important;}	/*无背景*/
.clear{ display:block;height:0; line-height:0;overflow:hidden; clear:both;font-size:0;}/*清除浮动*/
.f_left{ float:left;}	/*左浮动*/
.f_right{ float:right;}	/*右浮动*/
.center{}	/*让内容区块居中*/
input, select, textarea{margin:0; padding:0; outline:none;box-sizing:border-box;font-family:'Microsoft YaHei';}

#wrapper {position: absolute;z-index: 1;height: 100%;width: 100%;max-width:750px; background:#fff;}
.scroller {position: absolute;z-index: 1;width: 100%;padding: 0;}
.scroller li {-webkit-ransition-duration:0;	-webkit-transform:translate3d(255,255,255);}
.pullDown{ display:none;}
.pullDown, .pullUp {text-align: center;height: 40px;line-height: 40px;font-size: 12px;color: #888;font-family: Arial, Microsoft YaHei;background-color: #f6f6f6;}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {background: url(../icon_c.png) no-repeat;width: 24px;height: 24px;position: absolute;margin-top: 8px;margin-bottom: 8px;background-position: center;margin-left: 26%;background-size: auto 100%;-webkit-background-size: auto 100%;-webkit-transition-property: -webkit-transform;-webkit-transition-duration: 250ms;	-moz-background-size: auto 100%;-moz-transition-property: -moz-transform;-moz-transition-duration: 250ms;}
.pullDown .pullDownIcon {display: none;-webkit-transform: rotate(0deg) translateZ(0);-moz-transform: rotate(0deg) translateZ(0);}
.pullUp .pullUpIcon {-webkit-transform: rotate(-180deg) translateZ(0);-moz-transform: rotate(-180deg) translateZ(0);}
.pullDown.flip .pullDownIcon {-webkit-transform: rotate(-180deg) translateZ(0);	-moz-transform: rotate(-180deg) translateZ(0);}
.pullUp.flip .pullUpIcon {-webkit-transform: rotate(0deg) translateZ(0);-moz-transform: rotate(0deg) translateZ(0);}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {background-image: url(../loading.gif);background-size: 100% auto;background-position: 0 100%;	-webkit-transform: rotate(0deg) translateZ(0);-webkit-transition-duration: 0ms;	-webkit-animation-name: loading;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;-moz-transform: rotate(0deg) translateZ(0);-moz-transition-duration: 0ms;	-moz-animation-name: loading;-moz-animation-duration: 2s;-moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear;}
@media screen and (min-width: 751px){#menu{margin-left:-375px!important;padding-top:18px!important;padding-bottom:18px!important;}}
@media screen and (max-width: 720px){body{font-size:62.5%;}}	
@media screen and (max-width: 640px){body{font-size:55.55%;}}	
@media screen and (max-width: 580px){body{font-size:50.34%;}}	
@media screen and (max-width: 500px){body{font-size:43.402%;}}	
@media screen and (max-width: 480px){body{font-size:41.666%;}}	
@media screen and (max-width: 440px){body{font-size:38.194%;}}	
@media screen and (max-width: 400px){body{font-size:34.722%;}}	
@media screen and (max-width: 360px){body{font-size:31.25%;}}	
@media screen and (max-width: 320px){body{font-size:27.777%;}}