/*- - - - - - - - -样式属首页.html - - - - - - - -*/
	/*页头*/
	#header{width:1160px;height:125px;position:absolute;left:50%;margin-left:-580px;z-index:1500;}
	#header2{height:90px;position:relative;background:#f7f7f7 url(../images/header2_bg.jpg) no-repeat left top;z-index:1500;}
	#header2 #logo{height:79px;position:relative;padding-top:12px;z-index:1500;}
	#header2 #menu{height:90px;position:relative;z-index:1500;}
	#header2 #menu li{background-position:right -30px;}
	#header2 .leftpic{width:182px;height:188px;position:absolute;top:0px;left:0px;background:url(../images/header2_pic.png) no-repeat left top;}
	#header2 .rightpic{width:279px;height:90px;position:absolute;top:0px;right:0px;background:url(../images/header2_bg2.jpg) no-repeat left top;}
		/*网站标志*/
		#logo{float:left;width:387px;height:104px;padding-top:12px;}
		/*菜单*/
		#menu{float:right;width:768px;height:125px;}
		#menu ul{float:left;}
		#menu ul li{float:left;width:76px;height:113px;position:relative;background:url(../images/libg.png) no-repeat right top;}
		#menu ul li span{width:76px;height:124px;position:absolute;top:-125px;left:0px;background:url(../images/menu_libg.png) no-repeat left top;}
		#menu ul li a{width:76px;height:95px;position:relative;text-indent:-99em;overflow:hidden;background:url(../images/menu_txt.png) no-repeat left top;display:block;}
		#menu ul li.hover span,#menu ul li.change span{top:0;}
		#menu ul #txt1.hover a,#menu ul #txt1.change a,#menu ul #txt1 a:hover{background-position:26px 25px ;}
		#menu ul #txt1 a{background-position:26px -77px;}
		#menu ul #txt2.hover a,#menu ul #txt2.change a,#menu ul #txt2 a:hover{background-position:-51px 25px ;}
		#menu ul #txt2 a{background-position:-51px -77px ;}
		#menu ul #txt3.hover a,#menu ul #txt3.change a,#menu ul #txt3 a:hover{background-position:-132px 25px ;}
		#menu ul #txt3 a{background-position:-132px -77px;}
		#menu ul #txt4.hover a,#menu ul #txt4.change a,#menu ul #txt4 a:hover{background-position:-209px 25px ;}
		#menu ul #txt4 a{background-position:-209px -77px;}
		#menu ul #txt5.hover a,#menu ul #txt5.change a,#menu ul #txt5 a:hover{background-position:-287px 25px ;}
		#menu ul #txt5 a{background-position:-287px -77px;}
		#menu ul #txt6.hover a,#menu ul #txt6.change a,#menu ul #txt6 a:hover{background-position:-360px 25px ;}
		#menu ul #txt6 a{background-position:-360px -77px;}
		#menu ul #txt7.hover a,#menu ul #txt7.change a,#menu ul #txt7 a:hover{background-position:-442px 25px ;}
		#menu ul #txt7 a{background-position:-442px -77px;}
		#menu ul #txt8.hover a,#menu ul #txt8.change a,#menu ul #txt8 a:hover{background-position:-520px 25px ;}
		#menu ul #txt8 a{background-position:-520px -77px;}
		#menu ul #txt9.hover a,#menu ul #txt9.change a,#menu ul #txt9 a:hover{background-position:-597px 25px ;}
		#menu ul #txt9 a{background-position:-597px -77px;}
		#menu ul #txt10.hover a,#menu ul #txt10.change a,#menu ul #txt10 a:hover{background-position:-677px 25px ;}
		#menu ul #txt10 a{background-position:-677px -77px;}
	/*广告*/
	#banner{height:700px;position:relative;overflow:hidden;min-width:1160px;margin:0 auto;}
	#banner .pic_zz{width:1920px;height:470px;position:absolute;bottom:0px;left:50%;margin-left:-960px;background:url(../images/zz_bg.png) no-repeat left top;z-index:1500;}
	/*图片轮播样式*/
	#banner .conbox{width:9999em;height:700px;position:absolute;overflow:hidden;}
	#banner .conbox div{float:left;width:100%;height:700px;text-align:center;overflow:hidden;min-width:1200px;}
	#banner .conbox div a{width:100%;display:block;}
	#banner .conbox div img{height:100%;margin:0 auto;display:block;}
	#banner .switcher{width:100%;text-align:center;position:absolute;right:0px;bottom:71px;z-index:1999;}
	#banner .switcher a{width:15px;height:15px;line-height:0px;text-align:center;overflow:hidden;font-size:14px;font-family:arial;color:#323232;margin-left:10px;background-color:#fff;border-radius:9px;cursor:pointer;display:inline-block;}
	#banner .switcher a.cur,#banner .switcher a:hover{color:#fff;background-color:#da0057;}	
	.Searchform{float:left;width:333px;position:absolute;left:50%;margin:-188px 0 0 -166px;z-index:1500;}
	.Searchform .text{float:left;width:250px;height:46px;line-height:46px;color:#ffffff;padding:0 15px;background:url(../images/inputbg.png) no-repeat left top;border:0;}
	.Searchform .btn_send{float:left;width:53px;height:46px;text-indent:-99em;overflow:hidden;background:url(../images/search_bg.png) no-repeat left top;border:0;}
	.bgpic{color:#fff;background:url(../images/bg1.jpg) no-repeat center 350px;background-color:#f7f6f4;}
	/**/
	#quicklink{width:1160px;height:127px;overflow:hidden;margin:0 auto 30px;padding-top:30px;}
	#quicklink ul{float:left;width:1220px;}
	#quicklink ul li{float:left;width:177px;padding-left:56px;background:url(../images/line_x.png) no-repeat right 30px;}
	#quicklink ul li a{width:90px;line-height:35px;text-align:center;display:block;}
	#quicklink ul li a:hover{text-decoration:none;}
	#quicklink ul li a:hover span{background-position:left top;}
	#quicklink ul li a span{width:90px;height:90px;position:relative;font-size:14px;color:#646462;background:url(../images/a_bg.png) no-repeat right top;display:block;}
	#quicklink ul li i{width:43px;height:43px;position:absolute;left:50%;margin:20px auto 0px -21px;background:url(../images/iconlist.png) no-repeat left top;}
	#quicklink ul li #btn01 i{background-position:left top ;}
	#quicklink ul li #btn01.hover i{background-position:0px -42px;}
	#quicklink ul li #btn02 i{background-position:-42px 0px ;}
	#quicklink ul li #btn02.hover i{background-position:-42px -42px;}
	#quicklink ul li #btn03 i{background-position:-85px 0px ;}
	#quicklink ul li #btn03.hover i{background-position:-85px -42px;}
	#quicklink ul li #btn04 i{background-position:-129px 0px ;}
	#quicklink ul li #btn04.hover i{background-position:-129px -42px;}
	#quicklink ul li #btn05 i{background-position:-171px 0px ;}
	#quicklink ul li #btn05.hover i{background-position:-171px -42px;}
	/**/
	#Hot{width:1160px;margin:0px auto 59px auto;}
	#Hot .Hot_header{height:47px;line-height:47px;overflow:hidden;background-color:#fafafa;}
	#Hot .Hot_header .gonggao{float:left;width:752px;height:26px;line-height:26px;position:relative;overflow:hidden;padding-top:9px;}
	#Hot .Hot_header .gonggao .gonggao_tit{float:left;font-size:14px;color:#d8015c;margin-left:20px;padding-left:26px;background:url(../images/icon_gonggao.gif) no-repeat left center;}
	#Hot .gundong{float:left;width:569px;}
	#Hot .gundong .jCarouselLite{float:left;width:875px;height:154px;overflow:hidden;}
	#Hot .gundong .jCarouselLite ul li{height:26px;line-height:26px;}
	#Hot .gundong .jCarouselLite ul li a:hover{color:#d8015c;}
	#Hot .move_rights,#Hot .move_lefts{float:right;width:31px;height:26px;position:absolute;z-index:500;}
	#Hot .move_lefts span,#Hot .move_rights span{width:31px;height:26px;background:url(../images/arrow1.gif) no-repeat left top;background-repeat:no-repeat;display:block;}
	#Hot .move_lefts{right:31px;}
	#Hot .move_lefts span{background-position:left top;}
	#Hot .move_lefts:hover span{background-position:left bottom;}
	#Hot .move_rights{right:0px;}
	#Hot .move_rights span{background-position:right top;}
	#Hot .move_rights:hover span{background-position:right bottom;}
	#Hot .Hot_header .Searchform2{float:right;padding-top:7px;padding-right:7px;}
	#Hot .Hot_header .Searchform2 .text{ line-height:34px;float:left;width:338px;height:34px;color:#999;padding:0 8px;background:url(../images/search_inputbg.gif) no-repeat left top;border:0;}
	#Hot .Hot_header .Searchform2 .btn_send{float:left;width:34px;height:34px;text-indent:-99em;overflow:hidden;background:url(../images/search_btnbg.gif) no-repeat left top;border:0;}
		/*轮播广告*/
		#playBanner{float:left;width:760px;height:400px;position:relative;overflow:hidden;background:#ccc;}
		#playBanner .conbox div{width:760px;height:400px;}		
		/*图片轮播样式*/
		#playBanner .conbox{width:9999em;position:absolute;}
		#playBanner .conbox div{float:left;position:relative;overflow:hidden;}
		#playBanner .conbox div strong{width:100%;height:48px;line-height:48px;position:absolute;font-size:14px;font-weight:normal;color:#fff;bottom:0px;left:0px;padding:0 15px;background:url(../images/heibg.png) repeat left top;z-index:1000;}
		#playBanner .conbox div img{width:100%;height:100%;display:block;}
		#playBanner .switcher{float:right;position:absolute;right:22px;bottom:10px;display:none;z-index:99;}
		#playBanner .switcher a{float:left;width:21px;height:21px;line-height:21px;text-align:center;overflow:hidden;font-size:14px;font-family:arial;color:#323232;margin:4px 4px 4px 7px;background:url(../images/nav_a_bg.png) no-repeat right top;border:1px solid #f00;cursor:pointer;display:inline;}
		#playBanner .switcher a.cur,#playBanner .switcher a:hover{color:#fff;background-position:left top;}		
		#playBanner .move_right,#playBanner .move_left{float:left;width:16px;height:100%;position:absolute;top:0px;background:url(../images/spaces.gif) repeat left top;z-index:80;}
		#playBanner .move_left span,#playBanner .move_right span{width:16px;height:28px;position:absolute;top:50%;left:50%;margin:-10px 0 0 -16px;background:url(../images/arrow3.png) no-repeat left top;background-repeat:no-repeat;}
		#playBanner .move_left{left:13px;}
		#playBanner .move_left span{background-position:left top;}
		#playBanner .move_left:hover span{background-position:left bottom;}
		#playBanner .move_right{right:13px;}
		#playBanner .move_right span{background-position:right top;}
		#playBanner .move_right:hover span{background-position:right bottom;}
		/*新闻中心*/
		#News{float:right;width:360px;height:380px;padding:20px 20px 0;background-color:#a0c1bd;}
	/*历史*/
	#History{width:1160px;height:322px;margin:0 auto;}
	#History h3{line-height:62px;text-align:center;font-size:34px;font-weight:normal;}
	#History h4{height:38px;line-height:38px;text-align:center;overflow:hidden;font-size:14px;color:#656563;margin-bottom:14px;background:url(../images/0.png) no-repeat center top;}
	#History p{line-height:20px;text-indent:24px;font-size:12px;color:#6a6967;margin-bottom:27px;}
	#History ol{float:left;width:1135px;height:23px;line-height:23px;position:relative;padding-top:30px;background:url(../images/line.png) no-repeat center bottom;}
	#History ol li{float:left;position:relative;margin-left:62px;display:inline;}
	#History ol li.hover span{background-position:right top;}
	#History ol li span{width:22px;height:23px;position:relative;bottom:-10px;margin-bottom:-5px;background:url(../images/1.png) no-repeat left top;display:block;}
	#History ol li strong{height:35px;line-height:35px;position:absolute;font-size:18px;font-weight:normal;color:#696967;top:-25px;margin-left:-8px;}
	#History ol li .txt{width:247px;line-height:23px;position:absolute;color:#fff;bottom:15px;left:0px;margin-left:-126px;padding-top:14px;padding-right:15px;padding-bottom:14px;padding-left:15px;background:url(../images/redbg2.png) repeat left top;border-radius:6px;display:none;}
	#History ol li .txt .arrow{width:11px;height:6px;line-height:0px;position:absolute;overflow:hidden;font-size:0;bottom:-6px;left:50%;margin-left:-6px;background:url(../images/arrow4.png) no-repeat left top;}
	/*有问必答*/
	#Faq{height:420px;min-width:1160px;margin:0px auto 61px auto;}
	#Faq .center{position:relative;}
	#Faq .ad{margin-bottom:21px;}
	#Faq h4{font-size:24px;font-weight:normal;padding-left:160px;display:inline;}
	#Faq p{font-size:14px;display:inline;}
	#Faq .form{padding:12px 0 0 160px;}
	#Faq .form ul{float:left;width:352px;}
	#Faq .form textarea{float:left;width:320px;height:68px;overflow:auto;color:#999;margin-right:9px;padding:6px 12px;border:1px solid #e3e3e3;border-radius:4px;display:inline;}
	#Faq .form .btn_send{float:left;width:84px;height:84px;font-size:18px;font-family:'microsoft yahei';color:#fff;background:url(../images/btn_send.png) no-repeat left top;border:0; cursor:pointer;}
	#Faq .form .btn_send:hover{background-position:right top;}
	#Faq .form ul li{float:left;width:166px;height:38px;position:relative;overflow:hidden;margin:0 8px 4px 0;border:1px solid #e4e4e4;border-radius:4px;display:inline;}
	#Faq .form span{width:15px;height:40px;line-height:40px;text-align:center;position:absolute;font-size:14px;color:#c00;}
	#Faq .form ul li .yzm_pic{width:69px;height:30px;position:absolute;top:4px;right:4px;z-index:1000;}
	#Faq .form ul li .text{line-height:22px;color:#999;padding:7px 15px;border:0;}
	#float_menu{width:184px;height:420px;text-align:center;position:absolute;top:-204px;right:0px;padding-top:15px;background:#5c8780 url(../images/menubg.jpg) no-repeat center top;}
	#float_menu h5{height:37px;line-height:37px;font-size:19px;font-weight:normal;color:#fff;}
	#float_menu ul{position:relative;padding:0 0;}
	#float_menu ul li{position:relative;}
	#float_menu ul li a{height:41px;line-height:41px;overflow:hidden;font-size:15px;color:#fff;display:block;}
	#float_menu ul li a:hover{background:url(../images/menulibg.jpg) no-repeat left top;text-decoration:none;}
	#float_menu .float_menu{width:184px;height:245px;overflow:hidden;margin-top:20px;margin-bottom:5px;}
	#float_menu .btn_more{width:184px;height:17px;background:#4e7874  url(../images/more.jpg) no-repeat left top ;display:block;}
	/*学校照片*/
	#SchoolPhoto{overflow:hidden;min-width:1160px;margin:0 auto;background:#ffffff url(../images/bg2.jpg) no-repeat center 250px;}
	#SchoolPhoto .MainTitle{margin-bottom:37px;}
	#SchoolPhoto .MainTitle strong{margin-bottom:10px;}
	#SchoolPhoto .Tab_nr{width:1200px;padding-bottom:55px;}
	#SchoolPhoto .Tab_nr .btn_more{width:146px;height:46px;line-height:44px;text-align:center;font-size:14px;color:#7f8082;margin:40px auto 0px auto;background:url(../images/btn_browse.png) no-repeat left top;display:block;}
	#SchoolPhoto .Tab_nr .btn_more:hover{background-position:right top;text-decoration:none;}
	#Faq .ad{height:250px;text-align:center;}
	/*老师*/
	#Teacher{position:relative;min-width:1160px;margin:0 auto;padding:43px 0 57px;background:#e1ddd4 url(../images/line_x2.jpg) repeat-x left top;z-index:1500;}
	#Teacher .MainTitle{margin-bottom:35px;}
	#Teacher .MainTitle strong{margin-bottom:14px;}
	#Teacher .line{width:100%;height:7px;position:absolute;bottom:-7px;left:0px;background:url(../images/line_x5.png) repeat-x left top;}
	#Teacher .scrollleft{width:100%;}
	#Teacher .move_right,#Teacher .move_left{float:left;width:24px;height:379px;position:absolute;top:132px;z-index:1500;}
	#Teacher .move_left span,#Teacher .move_right span{width:25px;height:60px;position:absolute;top:50%;left:0px;margin-top:-30px;margin-left:0px;background:url(../images/arrow2.png) no-repeat left top;background-repeat:no-repeat;}
	#Teacher .move_left{left:0px;}
	#Teacher .move_left span{background-position:left top;}
	#Teacher .move_left:hover span{background-position:left bottom;}
	#Teacher .move_right{right:0px;}
	#Teacher .move_right span{left:0px;margin-left:0px;background-position:right top;}
	#Teacher .move_right:hover span{background-position:right bottom;}	
	/*栏目*/
	#Column{height:566px;position:relative;min-width:1160px;margin:0 auto;padding-top:145px;background:url(../images/bg3.jpg) no-repeat center top;}
	#Column .center{position:relative;}
	#Column .gundong{width:1160px;}
	#Column .gundong .jCarouselLite{float:left;width:1160px;height:491px;overflow:hidden;}	
	#Column .gundong .jCarouselLite ul{float:left;}
	#Column .gundong .jCarouselLite ul li{float:left;width:281px;margin-right:12px;display:inline;}
	#Column .move_right,#Column .move_left{width:50px;height:100%;position:absolute;top:0px;z-index:1500;}
	#Column .move_left span,#Column .move_right span{width:50px;height:100px;position:absolute;top:50%;margin-top:-50px;background:url(../images/arrow.png) no-repeat left top;}
	#Column .move_left{left:-90px;}
	#Column .move_left span{background-position:left top;}
	#Column .move_left:hover span{background-position:left bottom;}
	#Column .move_right{right:-90px;}
	#Column .move_right span{background-position:right top;}
	#Column .move_right:hover span{background-position:right bottom;}	
	/*友情链接*/
	#friendlink{line-height:29px;font-size:12px;min-width:1160px;margin:0px auto 0px auto;background:url(../images/bg3.jpg) no-repeat center bottom;}
	#friendlink .center{text-align:left;padding:21px 0 30px;border-top:1px solid #eaeaea;}
	#friendlink h5{font-weight:normal;color:#9d9d9d;padding-left:6px;display:inline;}
	#friendlink p{color:#9d9d9d;display:inline;}
	#friendlink p a{color:#9d9d9d;padding:0 6px;display:inline-block;}
	#friendlink p a:hover{color:#de0b5a;}
	/*页尾*/
	#footer{font-family:'宋体';min-width:1160px;margin:0 auto;background-color:#a1c1be;}
	#footer .center{position:relative;padding:25px 0 20px;}
	#footer .erweima{width:155px;height:221px;position:absolute;top:0px;left:50%;margin-left:-110px;padding-top:26px;background:url(../images/bg.png) no-repeat left top;}
	#footer .erweima .ewm{margin-bottom:19px;}
	#footer .erweima img{margin:0 auto;display:block;}
	#footer .erweima .ewm_link{width:23px;height:23px;position:absolute;left:50%;margin-left:-11px;top:62px;z-index:1500;}
	#footer dl{float:left;width:122px;}
	#footer dl dt{height:40px;line-height:40px;overflow:hidden;font-size:14px;font-weight:bold;padding-left:10px;}
	#footer dl dd a{height:32px;line-height:32px;overflow:hidden;color:#02302d;display:block;}
	#footer dl dd a:hover{color:#de0b5a;}
	#footer dl.margin_left{margin-left:170px;}
	
	/*版权*/
	#copyright{height:61px;min-width:1160px;margin:0 auto;background-color:#ffffff;}
	#copyright .center{position:relative;}
	#copyright .bomlogo{float:right;padding-top:19px;}
	#copyright p{float:left;height:60px;line-height:60px;color:#979797;}
	#copyright .icon{width:191px;height:100px;position:absolute;bottom:-60px;left:50%;margin-left:-125px;background:url(../images/3.png) no-repeat center bottom;*bottom:0;}
	#copyright .icon a{ display:block;width:100%;height:100%;}
	/*主标题*/
	.MainTitle{text-align:center;font-size:34px;font-weight:normal;margin-bottom:24px;}
	.MainTitle img{margin:0 auto;display:block;}
	.MainTitle strong{height:45px;line-height:45px;font-weight:normal;color:#010000;margin-bottom:0px;display:block;}
	/*文本列表*/
	.TextList li{height:36px;line-height:36px;overflow:hidden;font-size:14px;}
	.TextList li a{color:#333;}
	/*图片列表*/
	.PictureList{float:left;}
	.PictureList li{float:left;width:373px;height:316px;position:relative;overflow:hidden;margin:0 20px 16px 0;background-color:#f0f0f0;display:inline;}
	.PictureList li .photo{width:373px;height:243px;display:block;}
	.PictureList li strong{height:48px;line-height:24px;overflow:hidden;font-size:14px;font-weight:normal;color:#686868;padding:13px 10px 0;display:block;}
	.PictureList li .photo img{width:100%;height:100%;display:block;}
	.PictureList li .btn_browse{width:373px;height:243px;position:absolute;top:-250px;left:1px;background:url(../images/redbg.png) repeat left top;z-index:1500;}
	.PictureList li .btn_browse span{width:65px;height:65px;position:absolute;top:87px;left:50%;margin-left:-32px;background:url(../images/2.png) no-repeat left top;}
	/*照片列表*/
	.PhotoList{float:left;}
	.PhotoList li{float:left;width:262px;height:381px;position:relative;overflow:hidden;margin-right:15px;background:#333;display:inline;}
	.PhotoList li .photo{width:100%;height:100%;display:block;}
	.PhotoList li .txt{width:222px;text-align:center;position:absolute;color:#fff;bottom:-160px;left:0px;padding:0 20px 13px;background:url(../images/redbg2.png) repeat left top;}
	.PhotoList strong{height:33px;line-height:33px;overflow:hidden;font-size:18px;font-weight:normal;display:block;}
	.PhotoList span{height:23px;line-height:23px;overflow:hidden;font-size:14px;display:block;}
	.PhotoList p{height:51px;line-height:17px;overflow:hidden;}
	.PhotoList .more{width:63px;height:21px;line-height:21px;color:#de0b5a;margin:0 auto;background:url(../images/btn_more.png) no-repeat left top;display:block;}
	/**/
	.column_show{float:left;width:281px;height:492px;position:relative;overflow:hidden;background-color:#f0f0f0;display:inline;}
	.column_show .pic{width:281px;height:259px;margin-bottom:7px;display:block;}
	.column_show .pic img{width:100%;}
	.column_show h5{height:30px;line-height:30px;text-align:center;overflow:hidden;font-size:15px;}
	.column_show ol{margin:0 28px;}
	.column_show p{height:30px;line-height:30px;overflow:hidden;margin:0 23px;}
	.column_show p a{color:#636363;}
	.column_show .btn_browsemore{width:101px;height:31px;line-height:31px;text-align:center;position:absolute;bottom:-50px;left:50%;margin:0 auto 0 -50px;background:url(../images/btn2.png) no-repeat left top;}
	.hover_column{background-color:#d70c5e;}
	.hover_column h5{color:#fff;}
	.hover_column p a{color:#fff;}
	/*选项卡*/
	.Tab{text-align:center;margin-bottom:34px;}
	.Tab li{margin:0 4px;display:inline;}
	.Tab li a{width:98px;height:33px;line-height:33px;text-align:center;background:url(../images/tab_a_bg.png) no-repeat right top;display:inline-block;}
	.Tab li.change a,.Tab li a:hover{color:#fff;background-position:left top;text-decoration:none;}
/*- - - - - - - - -样式属老师列表.html - - - - - - - -*/
	.maintitle{width:613px;line-height:68px;text-align:center;position:absolute;font-size:28px;font-weight:normal;color:#fff;left:50%;margin:-233px 0 0 -306px;background:url(../images/line_x3.png) no-repeat center bottom;letter-spacing:3px;}
	.maintitle span{width:100%;text-align:center;position:absolute;font-size:12px;bottom:-60px;left:0px;}
	#weizi{width:502px;text-align:center;position:absolute;overflow:hidden;font-size:14px;color:#fff;left:50%;margin:-150px 0 0 -250px;z-index:6000;}
	#weizi p{height:34px;line-height:34px;padding:0 29px;background:url(../images/heibg.png) repeat left top;border-radius:20px;display:inline-block;}
	#weizi a{color:#fff;}
	/*广告2*/
	#banner2{height:300px;margin:0 auto 32px;background:#ccc;}
	/*内容区域*/
	#container{width:1160px;position:relative;margin:0 auto 66px;z-index:1500;}
	.icon_hua{width:248px;height:189px;position:absolute;top:50px;left:-300px;background:url(../images/icon_hua.png) no-repeat left top;}
	.icon_hua2{width:82px;height:254px;position:absolute;top:408px;right:-193px;background:url(../images/icon_hua2.png) no-repeat left top;}
		/*侧栏*/
		#sidebar{float:left;width:246px;position:relative;margin-top:87px;background:url(../images/nav_liney.jpg) repeat-y left top;}
		#sidebar .topbg{width:246px;height:84px;position:absolute;top:-81px;left:0px;background:url(../images/nav_top1.png) no-repeat left top ;}
		#sidebar .bompic{width:246px;height:186px;position:absolute;bottom:-186px;left:0px;*bottom:-185px;}
		/*内容区域*/
		#neirong{float:right;width:895px;min-height:660px;padding-bottom:15px;background-color:#ffffff;border-radius:5px;}
			/**/
			#TeacherList{width:849px;margin:0 auto;padding:25px 0 0 17px;}
			#browseType{width:39px;position:absolute;top:19px;right:-39px;}
			#browseType a{float:left;width:37px;height:37px;text-indent:-99em;overflow:hidden;margin-right:-1px;background:#f5f5f5  url(../images/browsetype.gif) no-repeat left top ;border:1px solid #f0f0f0;}
			#browseType #btn_browse01{background-position:-2px -44px;}
			#browseType #btn_browse01.change,#browseType #btn_browse01:hover{border-left-color:#fff;background-position:-2px -2px;}
			#browseType #btn_browse02{background-position:-44px -44px ;}
			#browseType #btn_browse02.change,#browseType #btn_browse02:hover{border-left-color:#fff;background-position:-44px -2px;}
			#browseType #btn_browse03{background-position:-84px -44px ;}
			#browseType #btn_browse03.change,#browseType #btn_browse03:hover{border-left-color:#fff;background-position:-84px -2px;}
	/*侧栏标题*/
	.SideTitle{text-align:center;padding:13px 0;}
	.SideTitle span{font-size:10px;font-weight:normal;text-transform:uppercase;display:block;}
	.SideTitle strong{font-size:24px;font-weight:normal;}
	/*导航列表*/
	.NavList{margin:0 7px;border-top:1px solid #e5e5e5;}
	.NavList li{border-bottom:1px solid #e6e6e6;}
	.NavList li a{height:42px;line-height:42px;text-align:center;font-size:16px;display:block;}
	.NavList li a:hover{ text-decoration:none;color:#d80c5f;}
	.NavList li.change a{color:#fff;text-decoration:none;}
	.NavList li .btn_{background:url(../images/arrow002.png) no-repeat 162px center;}
	.NavList li .btn_:hover{text-decoration:none;}
	.NavList li.change a{color:#d60c5e;}
	.NavList li.change .btn_{background-image:url(../images/arrow001.png) ;}
	.NavList li.change ol{background-color:#e1ddd5;display:block;}
	.NavList li.change ol li{border-bottom:none;}
	.NavList li.change ol li a{font-size:14px;color:#010000;}
	.NavList li.change ol li.hovers a,.NavList li.change ol li a:hover{color:#fff;background-color:#d80d5f;}
	.NavList li ol{display:none;}
	/*教师列表*/
	.TeacherList{float:left;}
	.TeacherList li{float:left;width:202px;height:294px;position:relative;overflow:hidden;margin:0px 9px 10px 0px;background:#ccc;display:inline;}
	.TeacherList .photo{width:100%;height:100%;display:block;}
	.TeacherList .photo img{width:100%;height:100%;display:block;}
	.TeacherList .txt{width:170px;text-align:center;position:absolute;color:#fff;bottom:-150px;left:0px;padding:10px 16px 14px;background:url(../images/redbg2.png) repeat left top;}
	.TeacherList .txt strong{height:32px;line-height:32px;overflow:hidden;font-size:14px;display:block;}
	.TeacherList .txt em{text-align:left;display:block;}
	/*翻页*/
	.pages{line-height:38px;text-align:center;padding:30px 0;}
	.pages a{width:41px;height:38px;line-height:38px;text-align:center;font-size:18px;color:#646464;vertical-align:middle;background:url(../images/pages.png) no-repeat -134px 0px;display:inline-block;}
	.pages a.change,.pages a:hover{color:#fff;background-position:-88px 0px;text-decoration:none;}
	.pages #btn_prev{width:79px;height:38px;line-height:38px;font-size:14px;padding-left:7px;background-position:left top;}
	.pages #btn_prev.change,.pages #btn_prev:hover{color:#5b5b5b;background-position:left -42px;}
	.pages #btn_next{width:87px;height:38px;line-height:38px;text-align:center;text-indent:-15px;font-size:14px;background-position:-176px top;}
	.pages #btn_next.change,.pages #btn_next:hover{color:#5b5b5b;background-position:-176px -42px;}
/*- - - - - - - - -样式属图文列表.html - - - - - - - -*/
	#NewsList{padding-top:25px;}
	/*新闻*/
	.news{height:151px;position:relative;margin:0 auto;padding:17px 27px 17px 27px;}
	.news .photo{float:left;width:223px;height:151px;margin-right:23px;display:inline;}
	.news .photo img{width:100%;height:100%;display:block;}
	.news h5{height:29px;line-height:29px;overflow:hidden;font-size:18px;font-weight:normal;}
	.news h5 a:hover{color:#de0b5a;}
	.news span{height:26px;line-height:26px;overflow:hidden;color:#989898;border-bottom:1px solid #cdcdcd;display:block;}
	.news p{height:96px;line-height:24px;overflow:hidden;font-size:13px;}
	.news .more{width:66px;height:24px;line-height:24px;text-align:center;position:absolute;color:#fff;top:22px;right:30px;background:url(../images/a_more.png) no-repeat left top;}
	.news .more:hover{color:#fff;background:url(../images/a_more.png) no-repeat left top;background-position:right top;text-decoration:none;}
	/*显示模式*/
	.news-showtype-1{margin-left:28px;float:left;width:275px;height:auto;margin-bottom:8px;margin-right:-5px;margin-right:-20px;padding:0;}
	.news-showtype-1 .photo{float:none;width:275px;height:180px;margin:0;display:block;}
	.news-showtype-1 h5{text-align:center;overflow:hidden;font-size:14px;height:48px; line-height:48px;text-overflow:ellipsis;white-space:nowrap;}
	.news-showtype-1 span{display:none;}
	.news-showtype-1 p{display:none;}
	.news-showtype-1 .more{display:none;}
	/*显示模式3*/
	.news-showtype-3{height:45px;line-height:45px;position:relative;margin-right:28px;margin-left:28px;padding:0;background:url(../images/5.png) no-repeat 22px 18px ;border-bottom:1px dashed #e1e1e1;}
	.news-showtype-3 .photo{display:none;}
	.news-showtype-3 h5{height:43px;line-height:43px;font-size:14px;padding-left:52px;}
	.news-showtype-3 p{display:none;}
	.news-showtype-3 span{height:45px;line-height:45px;position:absolute;top:0px;right:28px;border:0;}
	.news-showtype-3 .more{display:none;}
	.hover_news{background-color:#e4e0d7;}
	.hover_news .more{color:#333;background-position:left bottom;}
	.news-showtype-3.hover_news{background-image:url(../images/6.png);}
/*- - - - - - - - -样式属查看留言.html - - - - - - - -*/
	/*问答*/
	.faqs{line-height:24px;position:relative;font-size:14px;font-family:arial, helvetica, sans-serif;color:#6a6a6a;margin-bottom:-1px;padding:15px 26px 0px 26px;}
	.faqs h5{font-size:15px;padding-left:24px;background:url(../images/icon_q.png) no-repeat left center;display:inline;}
	.faqs time{color:#9a9a9a;padding-left:10px;display:inline;}
	.faqs .wen{margin-bottom:12px;padding:8px 0px 15px 0px;border-bottom:1px dashed #cdcdcd;display:block;}
	.faqs .huifu{text-indent:28px;padding-bottom:13px;background:url(../images/icon_a.gif) no-repeat left 3px;border-bottom:1px solid #cccccc;}
	.hover_faqs{background-color:#e2ded5;}
/*- - - - - - - - -样式属创建-评估内容导航.html - - - - - - - -*/
	.Nav_title{height:57px;line-height:57px;text-align:center;overflow:hidden;font-size:18px;font-weight:normal;border-bottom:1px solid #cdcdcd;}
	/*分类列表*/
	.SortList{width:619px;position:relative;padding:15px 0 15px 276px;border-bottom:1px solid #cdccca;}
	.SortList h4{width:276px;line-height:36px;text-align:center;position:absolute;font-size:17px;font-weight:normal;top:0px;left:0px;}
	.SortList h4 span{font-size:32px;font-weight:normal;padding-top:57px;display:block;}
	.SortList ul{margin-right:18px;}
	.SortList ul li{height:38px;line-height:38px;overflow:hidden;background:url(../images/li_arrow.gif) no-repeat right  10px;border-bottom:1px dashed #d3d3d3;}
	.SortList ul li a{font-size:14px;}
	.SortList ul li a:hover{color:#de0b5a;}
	.hover_SortList{background-color:#e1ddd4;}
	.hover_SortList ul li{background-image:url(../images/li_arrow2.gif) ;}
	.hover_SortList ul li:hover{background-image:url(../images/li_arrow3.gif) ;}
	.hover_SortList ul li:hover a{color:#de0b5a;}
	.hover_SortList h4{color:#de0b5a;}
/*- - - - - - - - -样式属图片列表.html - - - - - - - -*/
	#Picturelist{padding-top:18px;border-radius:7px;}
	#Picturelist .imgList{padding-left:19px;}
	/*图片列表*/
	.imgList{float:left;}
	.imgList li{float:left;width:277px;height:231px;position:relative;margin:0px 14px 23px 0px;display:inline;}
	.imgList li a{padding-left:1px;padding-top:1px;padding-right:1px; display:block; background:url(../images/imgbg.jpg) no-repeat left top;width:275px;height:231px;}
	.imgList li a img{width:275px;height:180px;display:block;}
	.imgList li a strong{height:47px;line-height:47px;text-align:center;overflow:hidden;font-size:14px;font-weight:normal;display:block;}
	.imgList li a .icon_zz{width:183px;height:27px;position:absolute;top:-7px;left:44px;background:url(../images/icon_.png) no-repeat left top;}
	.imgList li  ins{position:absolute;font-size:14px;color:#fff;top:120px;right:12px;text-decoration:none;}
	.imgList li  ins i{font-size:44px;}
	.imgList li.hover{color:#fff;background-color:#d70c5e;transition:background 500ms linear 0s;}
	.imgList li.hover a{text-decoration:none;}
	.imgList li.hover strong{ background:#d80c5f;color:#fff;}
/*- - - - - - - - -样式属集团办学.html - - - - - - - -*/
	#Doclist{padding:13px 0 15px;}
	/*列表*/
	.list{margin:0 15px;}
	.list li{height:44px;line-height:44px;overflow:hidden;padding:0 31px 0 53px;background:url(../images/5.png) no-repeat 20px 18px;border-bottom:1px dashed #e1e0de;}
	.list li.hover{background-color:#e1ddd4;background-image:url(../images/6.png) ;}
	.list li span{float:right;color:#746f73;}
	.list li a{font-size:14px;}
	.list li span time{margin-right:13px;display:inline;}
/*- - - - - - - - -样式属内页.html - - - - - - - -*/
	/*文档内容*/
	#DocContent{width:820px;min-height:692px;margin:0 auto;padding-top:47px;}
	#DocContent .doc_title{height:47px;line-height:47px;text-align:center;overflow:hidden;font-size:24px;font-weight:normal;}
	#DocContent .doc_value{height:25px;line-height:25px;text-align:center;overflow:hidden;color:#999999;margin-bottom:15px;}
	#DocContent .doc_value li{margin-right:17px;display:inline;}
	#DocContent .content{line-height:30px;font-size:14px;color:#373a41;padding:14px 16px 0;border-top:1px solid #cccccc;}
	#DocContent .content img{max-width:100%;}
	/*上一篇 下一篇*/
	#PrevNext{width:820px;font-size:14px;margin:42px auto 0;padding:12px 0 46px;border-top:1px solid #e3e7ea;}
	#PrevNext p{height:34px;line-height:34px;overflow:hidden;color:#666666;}
	#PrevNext p a{color:#666666;}
	#PrevNext p a:hover{color:#8fc458;}
	/*分享*/
	#Share{float:right;width:281px;position:relative;margin:-110px 30px 0 0;display:inline;}
	#Share #bdshare{float:right;}
	#Share .btn_more{float:right;width:155px;height:33px;line-height:33px;text-align:center;font-size:14px;color:#fff;background:#f15433  url(../images/3.gif) no-repeat 20px 10px;}
	#Share .btn_more:hover{background-color:#ef401b;text-decoration:none;}
/*- - - - - - - - -样式属我要留言.html - - - - - - - -*/
	/*留言*/
	#LeaveMessage{float:right;width:868px;height:646px;padding:40px 0px 0 27px;background:url(../images/lybg.jpg) no-repeat left top;}
	#LeaveMessage h3{height:67px;line-height:67px;overflow:hidden;font-size:34px;font-weight:normal;color:#363636;}
	#LeaveMessage h3 span{font-size:18px;color:#686868;text-transform:uppercase;}
	#LeaveMessage p{height:33px;line-height:33px;overflow:hidden;color:#696969;margin-bottom:15px;}
	#LeaveMessage .form ul{float:left;*padding-bottom:23px;}
	#LeaveMessage .form textarea{width:804px;height:202px;overflow:auto;font-size:16px;font-family:'microsoft yahei';color:#999;margin-bottom:20px;padding:8px 17px;border:1px solid #ccc;border-radius:4px;}
	#LeaveMessage .form .yzm{width:227px;height:50px;position:relative;overflow:hidden;color:#999;padding:0 12px;background-color:#fff;border-radius:4px;}
	#LeaveMessage .form .btn_send{float:right;width:142px;height:44px;font-size:18px;font-family:'microsoft yahei';color:#fff;margin-right:35px;background:url(../images/btn_send2.png) no-repeat left top;border:0;display:inline;}
	#LeaveMessage .form .btn_send:hover{background-position:left bottom;}
	#LeaveMessage .form .yzm .yzmtext{height:48px;line-height:48px;font-family:'microsoft yahei';color:#999;border:0;}
	#LeaveMessage .form .yzm img{width:97px;height:38px;position:absolute;top:5px;right:5px;}
	#LeaveMessage .form ul li{float:left;width:413px;overflow:hidden;margin:0 18px 23px 0;display:inline;}
	#LeaveMessage .form ul li .text{width:377px;height:50px;line-height:50px;font-size:16px;font-family:'microsoft yahei';color:#999;padding:0 17px;border:1px solid #cccccc;border-radius:4px;}
	.container_bg{width:100%;height:262px;position:relative;margin-top:-255px;background:url(../images/bg.jpg) no-repeat center top;display:block;}
/*- - - - - - - - -样式属教育集团.html - - - - - - - -*/
#main_content{width:1004px;height:100%;position:absolute;top:0px;left:50%;margin-left:-502px;z-index:15000;}
	/*集团头部*/
	#GroupHeader{width:1004px;margin:0 auto;}
	#GroupHeader .grouplogo{width:290px;padding-top:15px;display:block;}
	#GroupHeader .menu{line-height:53px;}
	#GroupHeader .menu li{display:inline;}
	#GroupHeader .menu li a{font-size:14px;color:#010000;margin-right:15px;margin-left:15px;}
	#GroupHeader .menu li a:hover{color:#d8015c;}
	#GroupHeader .menu li.change a{color:#d8015c;text-decoration:none;}
	/*集团内容区域*/
	#GroupContent{width:1004px;height:355px;margin:0 auto;}
		/*集团学校列表*/
		#GroupSchool{float:left;width:689px;height:294px;padding-top:62px;}
		/*集团新闻*/
		#GroupNews{float:right;width:260px;height:346px;padding-top:10px;padding-right:10px;padding-left:10px;background:url(../images/group/heibg.png) repeat left top;}
	/*集团版权*/
	#CroupCopyright{width:1004px;text-align:center;margin:0 auto;}
	#CroupCopyright p{padding-top:7px;padding-bottom:7px;}
	/*集团新闻*/
	.groupNewslist li{height:36px;line-height:36px;overflow:hidden;}
	.groupNewslist li a{color:#fff;}
	/*学校列表*/
	.SchoolList{float:left;}
	.SchoolList li{float:left;margin-right:21px;margin-bottom:20px;}
	.SchoolList li a{width:150px;height:28px;line-height:28px;text-align:center;padding-top:16px;padding-bottom:16px;background:url(../images/group/a_bg.jpg) no-repeat left top ;display:block;}
	.SchoolList li a:hover{color:#d8015c;text-decoration:none;}
	.SchoolList li a img{width:28px;height:28px;margin-right:7px;}
	/*新闻选项卡*/
	.newsTab{float:left;width:100%;margin-bottom:9px;border-bottom:1px solid #fef7ed;}
	.newsTab li{float:left;}
	.newsTab li a{float:left;width:100px;height:34px;line-height:34px;text-align:center;font-size:16px;color:#fff;}
	.newsTab li.change a,.newsTab li a:hover{color:#333;background:url(../images/group/tab_a_bg.gif) no-repeat left top;}



