{if NEWTEMP neq true }
<div id="menu">
	<ul class="top">
		<li><a href="index.php"><i class="home"></i><em>{$lang.menu_home}<!-- {if $unum.system} -->
				
				<!-- {/if} --></em></a></li>
	</ul>
	<ul>
		<li {if $cur eq 'system'} class="cur"{/if}><a href="system.php"><i
				class="system"></i><em>{$lang.system}</em></a></li>
		<li {if $cur eq 'nav'} class="cur"{/if}><a href="nav.php"><i
				class="nav"></i><em>{$lang.nav}</em></a></li>
		<li {if $cur eq 'show'} class="cur"{/if}><a href="show.php"><i
				class="show"></i><em>{$lang.show}</em></a></li>
		<li {if $cur eq 'page'} class="cur"{/if}><a href="page.php"><i
				class="page"></i><em>{$lang.menu_page}</em></a></li>
	</ul>
	<!-- {if !$workspace.menu_column && !$workspace.menu_single} 如果没有模块则调用单页面菜单 -->
	<!-- {foreach from=$workspace.menu_simple item=menu} -->
	<ul>

		<li {if $cur eq $menu.unique_id} class="cur"{/if}><a
			href="page.php?rec=edit&id={$menu.id}"><i></i><em>{$menu.page_name}</em></a></li>
		<!-- {foreach from=$menu.child item=child} -->
		<li {if $cur eq $child.unique_id} class="cur"{/if}><a
			href="page.php?rec=edit&id={$child.id}"><i class="menuPage"></i><em>{$child.page_name}</em></a></li>
		<!-- {/foreach} -->
	</ul>
	<!-- {/foreach} -->
	<!-- {/if} -->
	<!-- {foreach from=$workspace.menu_column item=menu} -->
	<ul>

		<li {if $cur eq $menu.name_category} class="cur"{/if}><a
			href="{$menu.name_category}.php"><i class="{$menu.name}Cat"></i><em>{$menu.lang_category}</em></a></li>
		<li {if $cur eq $menu.name} class="cur"{/if}><a
			href="{$menu.name}.php"><i class="{$menu.name}"></i><em>{$menu.lang}</em></a></li>
	</ul>
	<!-- {/foreach} -->
	<!-- 
	<ul >
		<li {if $cur eq "music_category"} class="cur"{/if}><a href="music_category.php"><i class="musicCat"></i><em>音乐分类</em></a></li>
        <li {if $cur eq "music"}class="cur"{/if}><a href="music.php"><i class="music"></i><em>音乐列表</em></a></li>
    </ul>
     -->
	<!-- {if $workspace.menu_single} -->
	<ul>
		<!-- {foreach from=$workspace.menu_single item=menu} -->
		<li {if $cur eq $menu.name} class="cur"{/if}><a
			href="{$menu.name}.php"><i class="{$menu.name}"></i><em>{$menu.lang}<!-- {if $menu.name eq 'plugin'} -->{if
					$unum.plugin}<span class="unum"><span>{$unum.plugin}</span></span>{/if}<!-- {/if} --></em></a></li>
		<!-- {/foreach} -->
	</ul>
	<!-- {/if} -->
	
	<ul class="bot">
		<li {if $cur eq 'blog_list'} class="cur"{/if}><a href="blog_list.php"><i
				class="blog_list"></i><em>博客推荐</em></a></li>
		<li {if $cur eq 'backup'} class="cur"{/if}><a href="backup.php"><i
				class="backup"></i><em>{$lang.backup}</em></a></li>
		<li {if $cur eq 'mobile'} class="cur"{/if}><a href="mobile.php"><i
				class="mobile"></i><em>{$lang.mobile}</em></a></li>
		<li {if $cur eq 'theme'} class="cur"{/if}><a href="theme.php"><i
				class="theme"></i><em>{$lang.theme}<!-- {if $unum.theme} -->
					<span class="unum"><span>{$unum.theme}</span></span>
				<!-- {/if} --></em></a></li>
		<li {if $cur eq 'manager'} class="cur"{/if}><a href="manager.php"><i
				class="manager"></i><em>{$lang.manager}</em></a></li>
		<li {if $cur2 eq 'managergrouplist'} class="cur"{/if}><a
			href="managergrouplist.php"><i class="managergrouplist"></i><em>权限设置</em></a></li>
		 
  <li{if $cur eq 'managergroup'} class="cur"{/if}><a href="managergroup.php"><i class="managergroup"></i><em>权限组</em></a></li>
   
		<li {if $cur eq 'manager_log'} class="cur"{/if}><a
			href="manager.php?rec=manager_log"><i class="managerLog"></i><em>{$lang.manager_log}</em></a></li>
	</ul>
</div>
{else}
<nav id="nav">
	<a href="http://www.cssmxx.com" class="logo"><img src="images/logo.png" /> </a>

    
	<ul>
	    {foreach from=$left_auth item=left_nav key=k}
		
		 
		
		<li><a {if $cat_group.one eq $left_nav.cat_id}class="change btn_openmenu"{/if} href="{if $left_nav.c}#{else}/admin/article.php?cat_id={$left_nav.cat_id}{/if}">
         <span class="navicon navicon1x{$k+1}"></span>{$left_nav.cat_name}</a>
		    {if $left_nav.c}		
			<ol>
			    {foreach from=$left_nav.c item=child}
			    {if $child.cat_id neq '68'} 
				<li {if $cat_group.two eq $child.cat_id}class="hover"{/if}><a href="{if $child.child}#{else}{if $child.cat_id eq 74}/admin/gallery.php?cat_id={$child.cat_id}{else}/admin/article.php?cat_id={$child.cat_id}{/if}{/if}">{$child.cat_name}</a>
				{if $child.child}
				<div class="threelevelmenu">
				    {foreach from=$child.child item=sub}
					<a href="/admin/article.php?cat_id={$sub.cat_id}">{$sub.cat_name}</a> 
					{/foreach}
				</div>
				{/if}
				</li>	
				{/if}
				{/foreach}
			</ol>	
			{/if}
			</li>
		
		{/foreach}
		<!-- 博客 -->
		{if $process_auth.ckboxBlok_open}
		  <li><a href="/admin/blog.php" style="color:#fff;" class="btn_openmenu">
		  <span class="navicon navicon1x10" ></span>博客</a>
		  </li>
		{/if}
		<!-- 博客 -->
		{if $IS_ADMIN}
		  <li><a href="/admin/blog_list.php" style="color:#fff;" class="btn_openmenu">
		  <span class="navicon navicon1x10" ></span>推荐</a>
		  </li>
		{/if}
		  <li><a href="/admin/manager.php?rec=edit&id={$_USER_.user_id}" style="color:#fff;" class="btn_openmenu">
		  <span class="navicon navicon1x2" ></span>个人</a>
		  </li>
		
	</ul>

</nav>
<!-- nav结束 -->
{/if}
